
h1{
    font-size: 8rem;
    font-style: italic;
    color: crimson;
    /* margin-top: 1rem; */
}

.container {
    text-align: center;
 
}

input[type="text"] {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 14px;
}

button {
    padding:  20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    color: crimson;
}

footer{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* margin-top: 250px; */
}

#score{
    font-size: 50px;
    font-weight: bold;
}

@media (max-width:500px){
        h1{
            font-size: 60px;
        }

        input[type="text"]{
            margin-top: 50px;
        }
        #result {
            margin-top: 10px;
            font-size: 28px;
        }
        #score{
            font-size: 30px;
            font-weight: bold;
        }
}